<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SOFTVISION - Anuncios</title>
    <link rel="stylesheet" href="../css/anuncios.css">
</head>
<body>
    <header>
      <nav class="barra_navegacion">
        <div class="foto_estudiante">
          <img src="../assets/imagen/Brallan.jpeg" alt="Imagen del estudiante" />
        </div>
        <div class="nombre_estudiante">
          <h3>Brallan Echeverria Castro</h3>
        </div>
        <div class="perfil_cierre_sesion">
          <p>perfil | cerrar sesion</p>
        </div>
      </nav>
      <nav class="barra_navegacion_lateral">
        <div class="logo"><p>SOFTVISION</div></p>
        <div class="menu">
          <ul class="lista_menu">
            <li class="opciones">Dashboard</li>
            <li class="opciones">Mis Cursos</li>
            <li class="opciones">Calificaciones</li>
            <li class="opciones">Horario</li>
            <li class="opciones">Tareas</li> 
            <li class="opciones1">Anuncios</li>
            <li class="opciones">Perfil</li>
          </ul>
        </div>
      </nav>
    </header>
   <main>
  <section class="contenedor-anuncios">
    <h2>Anuncios escolares</h2>

    <div class="anuncio">
      <h3>Reunión de padres</h3>
      <p>El próximo viernes 10 de julio se llevará a cabo una reunión de padres de familia a las 8:00 a.m. en el auditorio principal.</p>
    </div>

    <div class="anuncio">
      <h3>Entrega de boletines</h3>
      <p>La entrega de boletines del segundo periodo será el lunes 15 de julio en la sala de informática, bloque B.</p>
    </div>

    <div class="anuncio">
      <h3>Salida pedagógica</h3>
      <p>Los estudiantes del grado 10° tendrán una salida pedagógica al Museo del Caribe el 20 de julio. Llevar uniforme y refrigerio.</p>
    </div>
  </section>
</main>

    
</body>
</html>