<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Asignaturas</title>
    <link rel="stylesheet" href="../css/asignaturas.css" />
  </head>
  <body>
    <header>
      <nav class="barra_navegacion">
        <div class="foto_estudiante">
          <img src="../assets/imagen/Brallan.jpeg" alt="Imagen del estudiante" />
        </div>
        <div class="nombre_estudiante">
          <h3>Brallan De Jesus Echeverria Castro</h3>
        </div>
        <div class="perfil_cierre_sesion">
          <p>perfil | cerrar sesion</p>
        </div>
      </nav>
      <nav class="barra_navegacion_lateral">
        <div class="logo"><p>SOFTVISION</div></p>
        <div class="menu">
          <ul class="lista_menu">
            <li class="opciones1">Asignaturas</li>
              <li class="opciones">Tareas</li>
              <li class="opciones">Calificaciones</li>
              <li class="opciones">Horario</li>
              <li class="opciones">Anuncios</li>
              <li class="opciones">Encuestas</li>
          </ul>
        </div>
      </nav>
    </header>

    <main>
      <div class="contenedor_materias">
        <div class="lista_materias">
          <h3>Materias</h3>
          <ul>
            <li class="materia">Matematicas</li>
            <li class="materia">Español</li>
            <li class="materia">Ingles</li>
            <li class="materia">Sociales</li>
            <li class="materia">Etica</li>
          </ul>
        </div>

        <div class="detalles">
          <h3>Detalles</h3>
          <p>Seleccione una materia</p>
        </div>
      </div>
    </main>
  </body>
</html>
