<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login - Sian365</title>
  <link rel="stylesheet" href="login.css">
 
</head>
<body>
  <div class="container">
    <div class="login-box">
      <!-- Panel izquierdo -->
      <div class="left-panel">
        <img src="/assets/icons/acceso-de-usuario.png" alt="Icono nube">
        <h1>softVision</h1>
        <p>Sistema Integral Académico en la Nube</p>
      </div>

      <!-- Panel derecho -->
      <div class="right-panel">
        <img src="/assets/icons/acceso-de-usuario.png" alt="Seguridad">
        <h2>SOFTVISION</h2>
        

        <div class="input-group">
          <input type="text" placeholder="Usuario">
        </div>

        <div class="input-group">
          <input type="password" placeholder="Contraseña">
        </div>
        <a href="/views/dashboard.html"><button class="login-button">Iniciar sesión</button></a>
        

        <div class="forgot-password">
          <a href="#">¿Olvidaste tu contraseña?</a>
        </div>
      </div>
    </div>
  </div>

  <div class="footer">
    SOFTVISION and jcanoProduction ©2025 Todos los derechos reservados
  </div>
</body>
</html>
