<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SoftVision - principal</title>
    <link rel="stylesheet" href="../css/vista_principal.css" />
  </head>
  <body>
    <nav class="barra-navegacion">
      <div class="logo-escuela">SoftVision</div>
      <a href="../views/login.html"><button class="boton-inicio-sesion">Iniciar sesión</button></a>
    </nav>

    <header class="seccion-principal">
      <div class="contenido-principal">
        <p class="texto-bienvenida">WELCOME TO SCHOOL</p>
        <h1>La educacion es la clave del exito en la vida</h1>
      </div>
    </header>

    <section class="seccion-estadisticas">
      <div class="tarjeta-estadistica">
        <img src="../assets/icons/profesores.png" />
        <p>Docentes</p>
      </div>
      <div class="tarjeta-estadistica">
        <img src="../assets/icons/administrator.png" />
        <p>Administracion</p>
      </div>
      <div class="tarjeta-estadistica">
        <img src="../assets/icons/CURSOS.png" />
        <p>Cursos</p>
      </div>
    </section>
  </body>
</html>
